div.list
  div.row
    div.view-switcher
      div(class='btn-group', data-toggle='buttons')
        label(class='btn btn-primary')
          input(type='radio', name='options', id='grid-view')
          | Grid
        label(class='btn btn-primary')
          input(type='radio', name='options', id='card-view')
          | Card
    div.list-title {{listctrl.name}} List
  div.list-content.row
    span(ng-switch='listctrl.view')
      div(ng-switch-when='0') Grid
      div(ng-switch-when='1') Card
