html, body {
    height: 100%;
}

body {
    margin: 0px auto;
    padding: 0px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-top: 60px;
}
#wrapper-content-left {
    width: 260px;
    float: left;
}

#wrapper-content-right {
    padding-left: 270px;
    padding-top: 10px;
}

.list-header {
  height:2em;
}

.list-title {
    float:left;
    margin-top:10px;
}

.view-switcher {
    float:right;
}

.list-content {
    clear:both;
}
