extends ../layout

block content
  div(ng-app='app')
    nav(class='navbar navbar-fixed-top navbar-default', role='navigation' ng-controller='navigation.ctrl as navctrl')
      div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand' ng-bind='navctrl.brand' href='/')
    div(id='wrapper')
      div(id='wrapper-content-left')
        ul(class='nav nav-pills nav-stacked')
          li: a(href='#/movies') Movies
          li: a(href='#/music') Music
      div(id='wrapper-content-right' ng-view)

block scripts
  script(src='/javascripts/angular/angular.min.js')
  script(src='/javascripts/angular/angular-route.min.js')
  script(src='/app/catalog/catalog.js')
  script(src='/app/app.js')
